  html.layout {
    height: 100%;
  }


  body.layout {
    height: 100%;
  }
  
  .layout-h1 { 
    color: #111; font-family: 'Helvetica Neue', sans-serif; font-size: 100px; font-weight: bold; letter-spacing: -1px; line-height: 1; text-align: center; 
  }


  .layout-h2 { 
    color: #111; font-family: 'Open Sans', sans-serif; font-size: 30px; font-weight: 300; line-height: 32px; margin: 0 0 72px; text-align: center; 
  }
  
  
  .layout-p { 
    color: #685206; font-family: 'Helvetica Neue', sans-serif; font-size: 14px; line-height: 24px; margin: 0 0 24px; text-align: justify; text-justify: inter-word; 
  }
  
  .layout-container {
    border: 2px solid grey;
    margin: auto;
    height: 60%;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .layout-container2 {
    border: 2px solid grey;
    margin: auto;
    height: fit-content;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .layout-img-container {
    margin: auto;
    height: fit-content;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .layout-header {
    background-color: #333;
    color: #fff;
    padding: 1rem;
  }
  
  .layout-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .layout-menu-toggle {
    cursor: pointer;
    display: inline-block;
  }
  
  .layout-bar {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 5px 0;
  }

  .layout-menu {
    display: none;
    list-style-type: none;
    padding: 0;
  }
  
  .layout-menu li {
    padding: 10px;
  }
  
  .layout-menu a {
    text-decoration: none;
    color: #fff;
  }
  
  .layout-content {
    padding: 20px;
  }

  .layout-show-menu {
    display: block;
  }

